@import "../../../../assets/variables";

header {
    .logo {
        background-size: contain;
        height: $height-logo;
    }

    .nav {
        .nav-link {
            color: $nav-link-color;
        }
    }
}