@import "../../../../assets/variables";

header {
    .logo {
        background: url($path-to-logo) no-repeat center;
        background-image: url($path-to-logo);
        background-size: contain;
        height: $height-logo;
    }

    .nav {
        .nav-link {
            color: $nav-link-color;
        }
    }
}