<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="#" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" routerLink="/">
        <img class="logo" src="../../../assets/images/logo.svg" alt="logo image">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/stocks" [queryParams]="{ isNeedAllStock: true }">Бумаги</a></li>
      </ul>

      <ng-container *ngIf="!isLogin; else login">
        <div class="text-end">
          <button type="button" class="btn btn-primary" routerLink="/auth">Войти</button>
        </div>
      </ng-container>
      <ng-template #login>
        <div class="text-end">
          <button type="button" class="btn btn-primary" routerLink="/personal-page">Личный кабинет</button>
        </div>
      </ng-template>
    </div>
  </nav>
</header>