body {
  color: #5a5a5a;
}

header {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.form-control {
  height: 35px;
}

.featurette-divider {
  margin: 5rem 0;
}

.modal {
  background-color: rgba($color: #000000, $alpha: 0.5);
}