*.suo
*.orig
output
**/node_modules
**/LogFiles/*.log
**/app_offline.htm
**/wwwroot/*.map
**/bin
**/obj
.vs
.idea
.sass-cache

**/*.user
launchSettings.json
global.json
Client/dist
Client/styles/*.css
Client/src/dist
Client/.angular/cache