

<div class="dropdown">
    <img *ngIf="!Notifications" class="dropdown-toggle" src="../../../assets/images/bell.svg" alt="notification logo" id="dropdownNotificationList" data-bs-toggle="dropdown" aria-expanded="false">
    <img *ngIf="Notifications" class="dropdown-toggle" src="../../../assets/images/bell-notification.svg" alt="notification logo" id="dropdownNotificationList" data-bs-toggle="dropdown" aria-expanded="false">
    <ul class="dropdown-menu" aria-labelledby="dropdownNotificationList">
        <li *ngFor="let notification of Notifications">
            <notification-item
                [notification]="notification">
            </notification-item>
        </li>
    </ul>
  </div>
