.dropdown-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    width: 350px;
    background: gray;

    li {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
  }