<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Тикет</th>
            <th scope="col">Текущая цена</th>
            <th scope="col">Изменение за день</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stock of stocks; let index = index"
                [class.table-success]="stock.ChangePerDay > 0"
                [class.table-danger]="stock.ChangePerDay < 0">
            <th scope="row">{{ index + 1 }}</th>
            <td><a href="#" routerLink="/security-page" [queryParams]="{secid: stock.Secid}">{{ stock.Name }}</a></td>
            <td>{{ stock.Secid }}</td>
            <td>{{ stock.CurrentPrice }} ₽</td>
            <td>{{ stock.ChangePerDay }} %</td>
        </tr>
    </tbody>
</table>