<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Тикет</th>
            <th scope="col">Текущая цена</th>
            <th scope="col">Изменение за день</th>
            <th scope="col">Управление ценной бумагой</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stock of stocks; let index = index"
                [class.table-success]="stock.ChangePerDay > 0"
                [class.table-danger]="stock.ChangePerDay < 0">
            <td scope="row">{{ index + 1 }}</td>
            <td scope="row"><a href="#" routerLink="/security-page" [queryParams]="{secid: stock.Id}">{{ stock.Name }}</a></td>
            <td scope="row">{{ stock.Id }}</td>
            <td scope="row">{{ stock.CurrentPrice }} ₽</td>
            <td scope="row">{{ stock.ChangePerDay }} %</td>
            <td scope="row">
                <manage-stock
                    [stock]="stock"
                ></manage-stock>
            </td>
        </tr>
    </tbody>
</table>
