<div class="datapicker">
    <label for="startDate">Дата</label>
    <input id="startDate" class="form-control" type="date" [(ngModel)]="date"/>
    <button type="button" class="btn btn-primary" (click)="recalculateSecuritys()">Пересчитать</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Тикет</th>
            <th scope="col">Текущая цена</th>
            <th scope="col">Изменение за день</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let security of securitys; let index = index"
                [class.table-success]="security.ChangePerDay > 0"
                [class.table-danger]="security.ChangePerDay < 0">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ security.Name }}</td>
            <td>{{ security.Secid }}</td>
            <td>{{ security.CurrentPrice }} ₽</td>
            <td>{{ security.ChangePerDay }} %</td>
        </tr>
    </tbody>
</table>