$height-header: 70px;
$height-logo: 70px;
$height-burger-item: 2px;
$margin-between-burger-item: 5px;
$width-search-input: 350px;
$margin-bottom: 24px;

$path-to-logo: "/logo.svg";

$header-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
$nav-link-color: #f8f9fa;