.nav-link {
    cursor: pointer;
}

.wrapper {
    .notification-tab {
        h4 {
            padding-left: 2rem;
        }
    }
    
    .btn {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
}