<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="addNewStockList">Создание нового спсика ценных бумаг</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <form [formGroup]="newStockListForm" (ngSubmit)="submitForm()">
        <div class="modal-body">
            <div class="form-outline mb-4">
                <input type="text" id="title" class="form-control" placeholder="Заголовок списка" formControlName="title">
            </div>
            <select-calculation-type
                [(calculationType)]="calculationType"
            ></select-calculation-type>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="close()">Сохраненить список</button>
        </div>
    </form>
</div>
