

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownManageStock" data-bs-toggle="dropdown" aria-expanded="false">
        Действие с ценной бумагой
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><button class="dropdown-item" type="button" (click)="addStockToList()">Добавить в список</button></li>
        <li><button class="dropdown-item" type="button" (click)="removeStockFromList()">Удалить из списка</button></li>
    </ul>
</div>