<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active indicator" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="indicator"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="indicator"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="../../../assets/main-page/slide-1.png"
                    alt="Slide 1" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="carousel-title">Всплески цены акций</h1>
                        <p class="carousel-decription">"Всплеск" - аномальное изменение цены акции.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../../../assets/main-page/slide-2.png"
                    alt="Slide 2" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="carousel-title">Просмотр графиков движения акций</h1>
                            <p class="carousel-decription">На сайте представлен список всех акций торгуемых на московской бирже.</p>
                        </div>
                    </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../../../assets/main-page/slide-3.png"
                    alt="Slide 3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="carousel-title">Уведомления об аномальных изменений цены акции</h1>
                        <p class="carousel-decription">По выбранному списку акций</p>
                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>

    <div class="container marketing">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    <span class="text-muted">Всплески цены акций.</span>
                </h2>
                <p class="lead">
                    "Всплеск" - аномальное изменение цены акции.
                    Система призвана находить и сигнализировать об инсайдерских сделках на московской бирже.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="../../../assets/main-page/slide-1.png"
                    alt="Slide 3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">  
                    <span class="text-muted">Просмотр графиков движения акций.</span>
                </h2>
                <p class="lead">
                    Индекса РТС, а также графика цен на нефть по выбранным вами инструментам.
                    Данный сервис позволит вам самостоятельно настроить график и отображать на нем необходимые вам данные.
                    Для этого, вам нужно выбрать интересующие вас инструменты в списке "Бумаги".
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="../../../assets/main-page/slide-2.png"
                    alt="Slide 3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">
                    <span class="text-muted">Уведомления об аномальных изменений цены акций.</span>
                </h2>
                <p class="lead">
                    Уведомления об изменениях цен запрошиваются каждые 15 минут.
                    Уведомления будут отправляться в push-уведомления.
                    Мы не будем использовать ваши данные для каких-либо других целей, кроме отправки уведомлений об изменении цены.
                    Вы можите составлять списки интересующих акцийю
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="../../../assets/main-page/slide-3.png"
                    alt="Slide 3" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>
    </div>
</main>